@import url('bootstrap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/* header */

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 0.4rem solid #0282f900;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  
}
.nav-link:hover::after {
  border-bottom: 0.4rem solid #0282f9;
}

.nav-link:hover {
  color: #0282f9;

}

/* footer */

.main-footer {
  background-image: url(../public/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #909699;

  .list {
    margin: 2rem 0;
  }

  ul li:first-child {
    color: white;
    font-size: larger;
    font-weight: 600;
    padding-bottom: 0.6rem;
  }

  #footer-logo {
    min-height: 25rem
  }

  #footer-logo img {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
  }
}


.bottom-footer {
  background-color: #303030;

  img[alt~="logo"] {
    padding: 0 0.6rem;
  }
}