@import url('bootstrap');

:root {
  --dc-blu: #0282f9;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/* header */

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
  
  .isActive::after,
  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition-duration: 0.15s;
    transition-timing-function: linear;
  }
  
  .isActive::after,
  .nav-link:hover::after {
    border-bottom: 0.4rem solid var(--dc-blu);
  }
  
  .isActive,
  .nav-link:hover {
    color: var(--dc-blu);
  }

}

/* main */
main {
  background-color: #1c1c1c;

  .label {
    background-color: var(--dc-blu);
    padding: 0.5rem 1rem;
    left: -0.5rem;
  }

  .card {
    overflow: hidden;
  }
  
  .img-fluid {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
  }

  .img-fluid[alt~="Action"], 
  .img-fluid[alt~="Catwoman"] {
    transform-origin: top;
    transform: scale(1.6);
  }

  .card-body {
    background-color: #1c1c1c;
  }

  p {
    font-size: 0.8rem;
  }

  .btn {
    background-color: var(--dc-blu);
  }
}

/* jumbotron */
#jumbotron {
  height: 40vh;
  background-image: url(../public/jumbotron.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* cards */

/* banner menu */
#banner-menu {
  background-color: var(--dc-blu);

  .col {
    min-width: 11.6rem;
    padding: 1rem 0.2rem;
    margin: auto auto;
  }

  .col a {
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    color: white;

    .img-fluid {
      width: auto;
      height: 2.5rem;
      margin: 0.3rem;
    }
  }
  
  .col:last-child a .img-fluid {
    width: 2.5rem;
    height: auto;
  }
}

/* footer */
footer {
  height: 50vh;
  background-image: url(../public/dc-logo-bg.png), url(../public/footer-bg.jpg);
  background-size: 45rem, cover;
  background-position: right center, center;
  background-position-x: 80%, center;
  background-repeat: no-repeat;
  color: #909699;
  
  section {
    padding: 2rem 0;
  }

  figure {
    width: 9rem;
  }
  
  p {
    color: white;
    font-size: larger;
    font-weight: 600;
  }

  a {
    color: rgb(155, 155, 155);
    text-decoration: none;
  }

}

/* bottom-footer */

.bottom-footer {
  background-color: #303030;
}