@import url('bootstrap');

:root {
  --dc-blu: #0282f9;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/* header */

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 0.4rem solid #0282f900;
  transition-duration: 0.15s;
  transition-timing-function: linear;

}

.nav-link:hover::after {
  border-bottom: 0.4rem solid var(--dc-blu);
}

.nav-link:hover {
  color: var(--dc-blu);
}

/* banner menu */
#banner-menu {
  background-color: var(--dc-blu);

  .col {
    min-width: 14.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 0;
  }

  .col a {
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: white;

    .img-fluid {
      width: auto;
      height: 3rem;
      margin: 0.5rem;
    }
  }
  
  .col:last-child a .img-fluid {
    width: 3rem;
    height: auto;
  }
}

/* footer */
footer {
  background-image: url(../public/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #909699;

  .row {
    padding: 2rem 0;
  }

  ul li:first-child {
    color: white;
    font-size: larger;
    font-weight: 600;
    padding: 0.6rem 0;
  }

  #footer-logo {
    min-height: 25rem
  }

  #footer-logo img {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 35rem;
    width: 35rem;
  }
}

/* bottom-footer */

.bottom-footer {
  background-color: #303030;

  img[alt~="logo"] {
    padding: 0 0.6rem;
  }
}